-
  imap:
    server: imap.gmail.com
    port: 993
    ssl: yes
    username: user@domain.tld
    password: secret
    move_folder: processed
  smtp:
    server: smtp.gmail.com
    port: 465
    ssl: yes
    username: user@domain.tld
    password: secret
    from: "First Last <user@domain.tld>"

  # Optional - when specified, only send responses to the addresses
  # listed here:

  # senders: 
  #  - sender1@domain.tld
  #  - sender2@domain.tld
  #  - sender3@domain.tld

  body:
    |
      Type your plaintext email here.

      New lines are preseved
